<template>
  <q-page class="flex justify-start column">
    <q-img
      width="170px"
      class="self-center q-mt-md"
      src="logo-bkk-prep.png"
    />
    <div class="text-h6 q-pl-md q-pb-md q-pt-lg">
      Indoor Air Quality
    </div>

  <q-list bordered class="rounded-borders bg-white">
      <q-expansion-item
        group="building_group"
        expand-separator
        icon="domain"
        v-for="building in buildings"
        :label="building.name"
        :key="building.bid"
      >
        <q-list >
          <q-item
            class=""
            style="padding-left: 40px"
            clickable
            v-for="floor in building.floors"
             :key="floor.id"
             :to="'/buildings/'+building.bid+'/floor/'+floor.id"
          >
            {{floor.name}}
            <q-icon name="chevron_right"
             style="font-size:1.5rem; color: #444; position: absolute; right: 40px" />
          </q-item>
        </q-list>
      </q-expansion-item>
    </q-list>
  </q-page>
</template>

<script>
import { mapState } from "vuex"
export default {
  name: 'PageBuildings',
  computed: {
       ...mapState('app', ['buildings']),
  }
}
</script>
