<template>
  <q-page class="flex  column text-center">
<div class="header q-pt-sm q-pb-xs">Building {{ $route.params.bid }} - Floor {{ $route.params.id }} Overview</div>
 <div class="q-gutter-y-sm " style="max-width: 100vw">
    <q-tabs
        v-model="tabKey"
        outside-arrows
        dense
        mobile-arrows
        inline-label
        class="bg-white shadow-2"
      >
        <q-tab
        :name="room.rid"
        :label="room.name"
        v-for="room in rooms"
        :key="room.rid"
        />
      </q-tabs>
      <q-separator/>

      <div class="switcher q-pt-none q-pr-md">
        <q-btn-toggle
          v-model="dayOrMonth"
          class="my-custom-toggle"
          no-caps
          size="sm"
          rounded
          unelevated
          toggle-color="grey-8"
          color="white"
          text-color="grey-8"
          :options="[
            {label: 'Hourly', value: 'day'},
            {label: 'Monthly', value: 'month'}
          ]"
        />
      </div>
      <div class="graph q-mt-md q-pl-sm q-pr-md flex-center"
          style=""
      >
        <ChartScreen
          :dayOrMonth="dayOrMonth"
          :dataSet="chartData.data"
          :dataName="selectedParam"
        />
      </div>
      <q-tab-panels v-model="tabKey" animated>
          <q-tab-panel
              class="flex flex-center column bg-grey-2"
              :name="room.rid"
              :label="room.name"
              v-for="room in rooms" :key="room.rid">

            <div class="flex flex-center q-gutter-sm q-py-xs data__buttons">
              <div
                @click="selectParam(data.key)"
                class="button q-pa-xs q-pt-md  bg-white"
                :class="{selected: selectedParam === data.key}"
                v-for="data in room.data"
                :key="data.name"
                >
                <div class="text-h6 text-bold">{{data.day[0]}}</div>
                <div class="text-center">{{data.name}}</div>
              </div>
            </div>
          </q-tab-panel>
      </q-tab-panels>
 </div>
  </q-page>
</template>

<script>
import {mapState} from 'vuex'
import ChartScreen from '../components/ChartScreen.vue'
export default {
  name: 'PageFloor',
  components: { ChartScreen },
  data() {
    return {
      tabKey:  null,
      selectedParam: "wellness",
      dayOrMonth: 'month',
      chartData: {
        data: [1,2,3,4,5,6,7,8],
      },
    }
  },
  computed: {
    ...mapState('app', ['rooms']),
  },
  methods: {
    selectParam(val) {
      this.selectedParam = val
    },
    prapareChartData() {
      const room = this.rooms.find((r) => r.rid === this.tabKey);
      const chartData = room.data[this.selectedParam][this.dayOrMonth]
      this.chartData.data = chartData;
      console.log(this.chartData)
    }
  },
  watch: {
    tabKey() {
      this.prapareChartData()
    },
    selectedParam() {
      this.prapareChartData()
    },
    dayOrMonth() {
      this.prapareChartData()
    }
  },
  mounted() {
    this.$store.dispatch('app/getRoomsData')
    this.tabKey = this.rooms[0].rid
    this.prapareChartData()
  }
}
</script>
<style lang="stylus" scoped>
.header
  font-size: 1rem
.graph
  //background: #66f
  width: 100%
  height: 29vh
  z-index: 1
.chart-barChart
  fill:red;
.switcher
  position: absolute
  right: 0px
  z-index: 1000
.button
  width: 27vw
  height: 27vw
  border-radius: 4px
  border 3px solid white
  transition all .3s ease
  &.selected
    border: 3px solid grey
    transition all .3s ease
</style>
