<template>
  <q-page class="flex items-center column q-ml-xs q-pa-md q-gutter-md">
    <q-img
      class="logo-bkk"
      src="logo-bkk-prep.png"
    />
    <div class="full-width">
      <div class="text-bold">
        Indoor Air Quality
      </div>
      <div class="air__quality text-grey-10 bg-light-green-3 flex-center q-mt-sm q-py-sm q-px-lg text-center"
        style="border-radius:5px"
      >
        <div class="flex flex-center row">

          <div class="">
            <div class="text-h5 q-ml-sm">
              Very Good
            </div>
            <div class="">
            <small>Wellness Index</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-btn
      outline
      birdered
      color="grey-10"
      class="full-width q-py-xs q-mt-xl details__button"
      to="/buildings"
    >
     View More Details
    </q-btn>


     <div class="full-width q-pt-lg">
      <div class="text-bold">
        Outdoor Air Quality
      </div>
      <div class="air__quality text-grey-10 bg-yellow-3 flex-center q-mt-sm q-py-sm q-px-lg text-center"
        style="border-radius:5px;"
      >
        <div class="flex flex-center row">

          <div class="">
            <div class="text-h6 q-ml-sm">
              Moderate
            </div>
            <div class="">
            <small>Wellness Index</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
<style lang="stylus" scoped>
.details__button
  max-width: 400px
.logo-bkk
  width: 170px

</style>
