<template>
  <apexchart
      type="bar"
      :options="chartOptions"
      :series="series"
      :width="'100%'"
      :height="'100%'"
      style="height: 29vh"
  />
</template>

<script>
export default {
  name: 'ChartScreen',
  props: {
    dataSet: Array,
    dataName: String,
    dayOrMonth: String,
  },
  data() {
    return {
      chartOptions: {
        chart: {
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
            labels: {
              show: false
            },
            categories: [...Array(this.dayOrMonth=='month'?30:24).keys()].map(k => ++k),
            axisTicks: {
               show: false,
            },
        }
      },
      series: [{
        name: this.dataName,
        data: this.dataSet ?? [1,2,3]
      }],
      width: this.$q.screen.width-20,
      height: this.$q.screen.width/1.7,
    }
  },
  watch: {
    dataSet() {
      this.series[0].data = this.dataSet
    }
  }
}
</script>

<style>

</style>
