<template>
  <q-header elevated class="bg-grey-7">
      <q-toolbar elevated class="flex-center">
         <q-btn
          class="top__button  top__button-left"
          flat
          dense
          round
          icon="arrow_back_ios"
          aria-label="back"
          @click="goBack"
          v-if="!isHome"
        />
          <div class="main__icon q-pl-lg">
            <q-img
              src="logo-pcs-thailand.svg"
              class="main__icon-first"
            />
            <q-img
              src="logo-neos.png"
              class=" main__icon-second"
            />
          </div>
        <q-btn
           class="top__button top__button-right"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="switchDrawerState"
        />

      </q-toolbar>
    </q-header>
</template>

<script>

export default {
  name: 'Header',
  components: {
  },
  data() {
    return({
    })
  },
  computed: {
    isHome () {
      return this.$route.path === '/'
    }
  },
  methods: {
    switchDrawerState() {
     this.$emit("drawerToggle")
    },
    goBack() {
      this.$router.back()
    }
  },

}
</script>

<style lang="stylus" scoped>
.top__button
  position absolute
  &-left
    left: 10px
  &-right
    right: 5px
.main__icon
  position: absolute
  &-first
    width:3.5rem
  &-second
    width: 6rem
    margin-bottom: 2px
    left: -10px
</style>
