<template>
  <q-layout view="lHh Lpr lFf">
    <Header
       @drawerToggle="switchDrawerState"
    />
    <q-page-container class="bg-grey-2">
      <router-view />
    </q-page-container>
    <q-drawer
      v-model="rightDrawerOpen"
      show-if-above
      bordered
      elevated
      content-class="bg-grey-1"
      side="right"
      class="items-center"
    >
    <q-separator class="q-mt-lg"/>
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
     </q-list>
       <q-separator/>
        <q-item-label
          header
          class="text-grey-8 text-center"
        >
        v: 0.0.9
        </q-item-label>
    </q-drawer>

  </q-layout>
</template>

<script>
//
// FIXME 1) logo to the middle for desktops whendrawer open..
//
import EssentialLink from 'components/EssentialLink.vue'
import Header from 'components/Header.vue'

const linksData = [
    {
    title: 'Share',
    icon: 'share',
    link: ''
  },
    {
    title: 'Settings',
    icon: 'settings',
    link: ''
  },
  {
    title: 'Help',
    icon: 'help_outline',
    link: 'https://www.ocs.com/th/'
  },
];


export default {
  name: 'MainLayout',
  components: { EssentialLink, Header },
  data () {
    return {
      essentialLinks: linksData,
       rightDrawerOpen: false,
    }
  },
  computed: {
  },
  methods: {
    switchDrawerState() {
      this.rightDrawerOpen = !this.rightDrawerOpen
    }
  },
  mounted () {
    this.$store.dispatch('app/getBuildingsData')
  }
}
</script>


<style lang="stylus" scoped>
</style>
